#a1{
    background-color: #0f1111;
    height: 60px;
}
a{
    margin-right: 170px;
    text-decoration: none;
    color: white;
}
#a2{
    color: #f08804;
    font-size: 25px;
}
#a7{
    background-color: #f08804;
    color: white;
}