#a1{
    background-color: #0f1111;
    height: 60px;
}
a{
    margin-right: 170px;
    text-decoration: none;
    color: white;
}
#a2{
    color: #f08804;
    font-size: 25px;
}
#a7{
    background-color: #f08804;
    color: white;
}
#a8{
    height: 100px;
    width: 100px;
    background-color: rgba(255,0,0,0.5);
    border: #0f1111 solid 2px;
    display: inline-block;
    margin-right: 200px;
    padding: 20px 20px 20px 20px;
    border-radius: 50%;
}
#a9{
    height: 100px;
    width: 100px;
    background-color: rgba(0,255,0,0.5);
    border: #0f1111 solid 2px;
    display: inline-block;
    margin-right: 200px;
    padding: 20px 20px 20px 20px;
}
#b1{
    height: 100px;
    width: 100px;
    background-color: rgba(0,0,255,0.5);
    border: #0f1111 solid 2px;
    display: inline-block;
    margin-right: 200px;
    padding: 20px 20px 20px 20px;
    border-radius: 50%;
}