h2{
    color: brown;
}
body{
    background-color: aqua;
}
h1{
    color: blueviolet;
    background-color: #1223ff;
    background-color: rgb(255,135,200);
}
input{
    color: blueviolet;
    background-color: green;
}
#_101{
    color: red;
}
.t36{
    background-color: blue;
}