#a1{
    text-align: end;
    text-decoration: line-through;
}
#a2{
    font-weight: 100;
}
#a3{
    font-family: Arial, Helvetica, sans-serif;
}
#a4{
    font-size: 8px;
}
#a6{
    line-height: 50px;
}
#a5{
    text-transform: uppercase;
}