div{
    height: 100px;
    width: 100px;
    display: inline-block;
    background-color: aqua;
    border: 2px solid black;
    transform: rotatez(45deg);
    position: relative;
    top: 100px;
    left: 100px;
    transform: scale(2,2);
    transition: all 2s ease-in ;
}
div:hover{
    transform: skewy(30deg);
    /* transform: translate(-300px); */
    /* transform: translate(100px,80px); */
}